<!DOCTYPE html>

<head>

    <meta charset="utf-8" />
</head>
<html>
<link rel="stylesheet" href="styles/mystyle.css">
<link rel="stylesheet" href="styles/prism.css">

<body>
    <div class="row">
        <!-- <h1>Select a CSV file: </h1> -->
        <div class="left-column">
            <div class="upload-btn-wrapper">
                <!-- <button>Choose a CSV file</button> -->
                <input type="file" id="inputCSV" name="files[]" accept=".csv">
            </div>
            <!-- <code class="language-js">var a;</code> -->

            <table id="tab">
            </table>
        </div>

        <div class="right-column">
            <pre style="height: 40pc; overflow-y: scroll;" class="language-js line-numbers"></pre>
        </div>

    </div>


</body>
<script src='scripts/jquery.js'></script>
<script src='scripts/jquery-csv.js'></script>
<script src='scripts/handleSelectedFile.js'></script>
<script src='scripts/prism.js'></script>

</html>